.setting-container
{
    padding:20px 50px;
    width:100%;
}

.more-settings-options
{
    display:flex;
    flex-direction:column;
    width:100%;
    
}

.more-settings-options #options
{
    width:100%;
    background-color:#484343;
    
}

.more-settings-options #options.dark-mode
{
    background-color:#484343;
    color:#fff;
}

.more-settings-options #options.blue-mode
{
    background-color:#484343;
    color:#fff;
}

.useful-options.settings-options
{
    padding:10px;
    width:100%;
    display:flex;
    justify-content:center;
}
.options-container-settings
{
    margin-right:0;
    width:200px;
}

.options-container-settings span
{
    font-size:10px;
}

.options-container-settings input
{
    width:30%;
    border:1px solid #000;
}

.options-container-settings input::placeholder
{
    font-size:10px;
}


div.usefull-options.settings-options
{
    width:100%;
    background-color:red;
}