 /*Custom class or Style start here  */

/* custom fonts*/
@font-face
{
	font-family: Poppins;
	src:url(../../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face
{
	font-family: Meddon;
	src:url(../../fonts/Meddon/Meddon.ttf);
}

@font-face
{
	font-family: Short_Stack;
	src:url(../../fonts/Short_Stack/ShortStack-Regular.ttf);
}

@font-face
{
	font-family: Walter_Turncoat;
	src:url(../../fonts/Walter_Turncoat/WalterTurncoat-Regular.ttf);
}

/* custom fonts*/

/*//hidden*/
.hidden
{
	display: none;
}

/*Border*/
.border{

	border: 1px solid #000;
}

.borderLR{

	border-left: 1px solid #000; 
	border-right: 1px solid #000; 
}

.borderLT{

	border-left: 1px solid #000; 
	border-top: 1px solid #000; 
}

.borderLB{

	border-left: 1px solid #000; 
	border-bottom: 1px solid #000; 
}

.borderRL{

	border-right: 1px solid #000; 
	border-left: 1px solid #000; 
}

.borderRT{

	border-right: 1px solid #000; 
	border-top: 1px solid #000; 
}

.borderRB{

	border-right: 1px solid #000; 
	border-bottom: 1px solid #000; 
}

.borderTL{

	border-top: 1px solid #000; 
	border-left: 1px solid #000; 
}

.borderTR{

	border-top: 1px solid #000; 
	border-right: 1px solid #000; 
}

.borderTB{

	border-top: 1px solid #000; 
	border-bottom: 1px solid #000; 
}

.borderBL{

	border-bottom: 1px solid #000; 
	border-left: 1px solid #000; 
}

.borderBR{

	border-bottom: 1px solid #000; 
	border-right: 1px solid #000; 
}

.borderBT{

	border-bottom: 1px solid #000; 
	border-top: 1px solid #000; 
}

/*no order onthis sides*/

.noBorderLR{

	border-left: none; 
	border-right: none; 
}

.noBorderLT{

	border-left: none; 
	border-top: none; 
}

.noBorderLB{

	border-left: none; 
	border-bottom: none; 
}

.noBorderRL{

	border-right: none; 
	border-left: none; 
}

.noBorderRT{

	border-right: none; 
	border-top: none; 
}

.noBorderRB{

	border-right: none; 
	border-bottom: none; 
}

.noBorderTL{

	border-top: none; 
	border-left: none; 
}

.noBorderTR{

	border-top: none; 
	border-right: none; 
}

.noBorderTB{

	border-top: none; 
	border-bottom: none; 
}

.noBorderBL{

	border-bottom: none; 
	border-left: none; 
}

.noBorderBR{

	border-bottom: none; 
	border-right: none; 
}

.noBorderBT{

	border-bottom: none;
	border-top: none; 
}

.roundBorder{

	border-radius: 2px;
}

.borderLR{

	border-left: 1px solid black;
	border-right: 1px solid black;
}

.noBorderLR{

	border-left: none;
	border-right: none;
}

.borderTB{

	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.noBorderTB{

	border-top: none;
	border-bottom: none;
}

.borderTop{

	border-top: 1px solid black;
}

.borderBottom{

	border-bottom: 1px solid black;
}

.borderLeft{

	border-left: 1px solid black;
}

.borderRight{

	border-right: 1px solid black;
}

.noBorder{

	border:none;
}

.noBorderTop{

	border-top: none;
}

.noBorderBottom{

	border-bottom:none;
}

.noBorderLeft{

	border-left:none;
}

.noBorderRight{

	border-right: none;
}


/*Border*/
/**/


/* color */

.black{

	color: #000;
}

.white{

	color: #fff;
}

.blue{

	color: #0080FF;
}

.proBg{

	background-color: #F1F1F1;

}

.noBg{

	background-color: none;

}

.red
{
	color: red;
}

.green
{
	color: green;
}


/* color */

/*Align*/

.txtAligncenter{

	text-align: center;
}

.txtAlignleft{

	text-align: left;
}

.txtAlignright{

	text-align: right;
}

.contentAlignCenter{

	align-content: center;
}

.contentAlignLeft{

	align-content: left; 
}

.contentAlignRight{

	align-content: right;
}

.itemAlignCenter{

	align-items: center;
}

.itemAlignLeft{

	align-items: left; 
}

.itemAlignRight{

	align-items: right;
}

/*Align*/

/* Margin Style Start here  */

.marginCenter
{
	margin:0 auto;
}

.noMargin{

	margin:none;
}

.marginRight{

	margin-right: 2px;
}

.marginLeft{

	margin-left: 2px;
}

.marginTop{

	margin-top: 2px;
}

.marginBottom{

	margin-bottom: 2px;
}

.marginLR{

	margin-left: 2px;
	margin-right: 2px;
}

.marginLT{

	margin-left: 2px;
	margin-top: 2px;
}

.marginLB{

	margin-left: 2px;
	margin-bottom: 2px;
}

.marginRL{

	margin-left: 2px;
	margin-right: 2px;
}

.marginRT{

	margin-right: 2px;
	margin-top: 2px;
}

.marginRB{

	margin-right: 2px;
	margin-bottom: 2px;
}

.marginTR{

	margin-top: 2px;
	margin-right: 2px;
}

.marginTL{

	margin-left: 2px;
	margin-top: 2px;
}

.marginTB{

	margin-top: 2px;
	margin-bottom: 2px;
}

.marginBR{

	margin-bottom: 2px;
	margin-right: 2px;
}

.marginBL{

	margin-left: 2px;
	margin-bottom: 2px;
}

.marginTL{

	margin-top: 2px;
	margin-left: 2px;
}

/*margin*/

/*float*/

.clear_floats{

	clear: both;
}

.float_right{

	float: right;
}

.float_left{

	float: left;
}

/*float*/

/*Bold*/
.bold{

	font-weight: bold;
}
/*Bold*/

/*underline*/

.noUnderlineWhite{

	color: #fff;
	text-decoration: none;

}

.noUnderline{

	color: #000;
	text-decoration: none;

}

.underline{

	text-decoration: underline;
}

/*underline*/

/*overline*/

.overline{

	text-decoration: overline;
}

/*overline*/

/*hover*/

.hoverColorWhite:hover{

	color: #fff;
	outline: #000;

}

.hoverColorBlack:hover{

	color: #000;
	outline: #fff;

}

.hoverColorBlue:hover{

	color: #0080FF;
	outline: #fff;

}

.hoverBold:hover{

	font-weight: bold;
}

.hoverUnderline:hover{

	text-decoration: underline;
}

.hoverBoldUnderline:hover{

	text-decoration: underline;
	font-weight: bold;

}

/*hover*/




/*aTag*/
.noDec{

	text-decoration: none;
}
.colorBlue{

	color: #0080FF;
}

.colorBlack{

	color: #000;
}

.colorWhite{

	color: #FFF;
}
/*aTag*/

/*Padding*/

	.padding{

	padding: 2px;
}

.paddingLR{

	padding-left: 2px;
	padding-right: 2px; 
}

.paddingLT{

	padding-left: 2px; 
	padding-top: 2px; 
}

.paddingLB{

	padding-left: 2px; 
	padding-bottom: 2px; 
}

.paddingRL{

	padding-right: 2px; 
	padding-left: 2px; 
}

.paddingRT{

	padding-right: 2px;
	padding-top: 2px; 
}

.paddingRB{

	padding-right: 2px;  
	padding-bottom: 2px; 
}

.paddingTL{

	padding-top: 2px;
	padding-left: 2px; 
}

.paddingTR{

	padding-top: 2px;
	padding-right: 2px; 
}

.paddingTB{

	padding-top: 2px; 
	padding-bottom: 2px; 
}

.paddingBL{

	padding-bottom: 2px; 
	padding-left: 2px; 
}

.paddingBR{

	padding-bottom: 2px;  
	padding-right: 2px; 
}

.paddingBT{

	padding-bottom: 2px;  
	padding-top: 2px; 
}

/*no paddding onthis sides*/

.noPaddingLR{

	padding-left: none; 
	padding-right: none; 
}

.noPaddingLT{

	padding-left: none; 
	padding-top: none; 
}

.noPaddingLB{

	padding-left: none; 
	padding-bottom: none; 
}

.noPaddingRL{

	padding-right: none; 
	padding-left: none; 
}

.noPaddingRT{

	padding-right: none; 
	padding-top: none; 
}

.noPaddingRB{

	padding-right: none; 
	padding-bottom: none; 
}

.noPaddingTL{

	padding-top: none; 
	padding-left: none; 
}

.noPaddingTR{

	padding-top: none; 
	padding-right: none; 
}

.noPaddingTB{

	padding-top: none; 
	padding-bottom: none; 
}

.noPaddingBL{

	padding-bottom: none; 
	padding-left: none; 
}

.noPaddingBR{

	padding-bottom: none; 
	padding-right: none; 
}

.noPaddingBT{

	padding-bottom: none;
	padding-top:none; 
}




/*Padding*/





.pointer{

	cursor: pointer;
}

/* Custom class or Style End here  */


/*input fields*/

input
{
	line-height:32px;
	border-radius:2px;
	border:none;
	padding:5px;
	box-sizing:border-box;
	border:1px solid #eee;
}

select
{
	height:40px;
	border-radius:2px;
	border:1px solid #eee;
	background: #fff;
}

textarea
{
	box-sizing:border-box;
	margin:5px 0;
	resize:none;
	border-radius:5px;
	padding:5px;
	border:none;
	border:1px solid #eee;
}


/*input field end here*/


/*universal style*/


.no_style
{
	background: none;
	text-decoration: none;
	list-style-type:none;

}


.inline_content
{
	display:flex;
	flex-direction:row;
}

/*universal style*/



/*buttons*/
.button
{
	display:flex;
	justify-content:center;
	align-items:center;
	width:140px;
	height:40px;
	border-radius:2px;	
	font-size: 16px;
}

.gradient-blue
{
	background: linear-gradient(57deg, #00c6a1, #1e4d92);
	color:white;
}

.gradient-blue:hover
{
	background: linear-gradient(57deg, #1e4d92, #00c6a1);
}

.btn-blue
{
	background:#30bfff;
	color:white;
}

.btn-org
{
	background-color:#FF9800;
	color:white;
}

.btn-red
{
	background-color:#F44336;
	color:white;
}

.btn-green
{
	background-color:#4CAF50;
	color:white;
}

.btn-black
{
	background-color: #000;
	color:#fff;
	border:1px solid;

}

.btn-width-100
{
	width:100%;
}


/*buttons end here*/


/*Messages*/
.message-red
{
	font-size: 12px;
	color:red;
}

.message-green
{
	font-size: 12px;
	color: red;
}

/*Messages*/

/*case*/

.uppercase
{
	text-transform:uppercase;
}

.lowercase
{
	text-transform:lowercase;
}

/*case*/

/*flexbox*/
.flex
{
	display: flex;
}

.content-center
{
	justify-content: center;
}

.items-center
{
	align-items: center;
}

.direction-column
{
	flex-direction: column;
}

.direction-column
{
	flex-direction:row;
}
/*flexbox*/

/*Animations*/

.slide-right{animation:slide-right .5s cubic-bezier(.55,.055,.675,.19) both}
.slide-bottom{animation:slide-bottom .5s ease-out .9s both}




/*keyframs*/

/* ----------------------------------------------
 * Generated by Animista on 2019-7-8 8:33:57
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes slide-right{0%{transform:translateX(0)}100%{transform:translateX(20px)}}

/* ----------------------------------------------
 * Generated by Animista on 2019-7-8 8:38:46
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes slide-bottom{0%{transform:translateY(0)}100%{transform:translateY(15px)}}




